html,
body {
  padding: 0;
  margin: 0;

    font-family: 'Sarabun', sans-serif;
    background-color: #15113E;


}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

* {
  box-sizing: border-box;
}
